* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    "aside top top top top"
    "aside body body body body"
    "aside body body body body"
    "aside body body body body"
    "aside body body body body";
}

.aside {
  grid-area: aside;
  background-color: rgba(26, 146, 212, 1);
  color: white;
}

.top {
  grid-area: top;
  background-color: rgba(255, 255, 255, 1);
}

.body {
  grid-area: body;
  background-color: rgba(226, 232, 240, 1);
}

dialog {
  width: 300px;
  height: 300px;
  border-radius: 7px;
  position: absolute;
  margin: auto;
}
